.AppGeneral {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 90px min(100dvh - 90px);
  padding-right: 12px;
  width: 100dvw;
  box-sizing: border-box;
}
.AppGeneral__Outlet {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background: var(--block-color-1);
  overflow: hidden;
}
@media (orientation: portrait) {
  .AppGeneral {
    grid-template-columns: 1fr;
    grid-template-rows: 36px 40px 1fr;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    min-height: 100dvh;
    padding-right: 2dvw;
    padding-left: 2dvw;
    padding-bottom: 2dvw;
  }
  .AppGeneral__Outlet {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
