.AppGeneralBar {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: auto;
  display: flex;
  padding: 24px 12px 24px 12px;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
}
.AppGeneralBar__Nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.AppGeneralBar__Nav__Link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 56px;
  height: 32px;
  border-radius: 16px;
  justify-content: center;
}

.AppGeneralBar__Nav__Link__Title {
  font-weight: var(--font-weight-5);
  font-size: var(--font-size-1);
  color: var(--font-color-6);
}
@media (orientation: portrait) {
  .AppGeneralBar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 0;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 12px 0px 12px;
  }
  .AppGeneralBar__Nav__Link__Title {
    display: none;
  }
  .AppGeneralBar__Nav__Link__Icon {
    width: 38px;
  }
  .AppGeneralBar__Nav {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
}
