.ProjectBarList {
	display: flex;
	position: relative;
	flex-direction: column;
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 2;
	align-items: stretch;
	transition: max-width 0.15s ease-in-out;
	width: 100%;
	height: 100%;
	overflow: hidden;
	gap: 0px;
}
.ProjectBar--open .ProjectBarList {
	max-width: 100%;
}
.ProjectBar--close .ProjectBarList {
	max-width: 0px;
}
.ProjectBar--close .ProjectBarListItem {
	animation: AnimProjectBarList__One 0.15s ease;
	animation-fill-mode: forwards;
}
.ProjectBar--open .ProjectBarListItem {
	animation: AnimProjectBarList__Two 0.15s ease;
	animation-fill-mode: forwards;
}
.ProjectBarListItem {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding: 16px;
	width: 100%;
	overflow: hidden;
}
.ProjectBarListItem__Header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.ProjectBarListItem__Header__Title {
	color: var(--font-color-2);
	font-size: var(--font-size-3);
	font-weight: var(--font-weight-5);
}
.ProjectBarListItem__Info {
	transition: all 0.15s ease-in-out;
	overflow: hidden;
}
.ProjectBarListItem__Info--open {
	margin-top: 14px;
	max-height: 100%;
}
.ProjectBarListItem__Info--close {
	margin-top: 0px;
	max-height: 0px;
}
.ProjectBarList__Line {
	display: flex;
	position: absolute;
	right: -16px;
	align-items: center;
	height: 100dvh;
}
@keyframes AnimProjectBarList__One {
	0% {
		opacity: 1;
	}
	30% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	70% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes AnimProjectBarList__Two {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 0.0;
	}
	50% {
		opacity: 0.0;
	}
	70% {
		opacity: 0.0;
	}
	100% {
		opacity: 1;
	}
}
