.ProjectBar {
	display: grid;
	grid-template-rows: 100dvh;
	transition: grid-template-columns 0.15s ease-in-out;
}
.ProjectBar--close {
	grid-template-columns: 0px 2px 1fr;
}
.ProjectBar--open {
	grid-template-columns: 220px 2px 1fr;
}
.ProjectBar__Line {
	display: flex;
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 3;
	align-items: center;
	justify-content: center;
	z-index: 1;
	background: var(--background);
	width: 100%;
	height: 100%;
}

.ProjectBar__Line:hover
  .Icon-Directions__Bar__Button__SVG__Path {
	fill: var(--block-color-5);
}

@media (orientation: portrait) {
	.ProjectBar {
		padding: 2dvw;
		height: 100%;
	}
}
