.ProjectBarListProjects {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding: 16px;
	width: 100%;
	gap: 14px;
}
.ProjectBarListProjects__Title {
}
.ProjectBarListProjects__List {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items: stretch;
	gap: 18px;
}
