.ModalEditProject {
}
.ModalEditProject__Title {
}
.ModalEditProject__Input {
}
.ModalEditProject__Button {
}
.ModalEditProject__Head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
