.Icon__Bar__Button {
  width: 56px;
  height: 32px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.Icon__Bar__Button--active {
  animation: AnimOne__One 0.3s ease;
  animation-fill-mode: forwards;
  background-color: var(--block-color-brand-08);
}
.Icon__Bar__Button:focus {
  border-radius: 16px;
}
.Icon__Bar__Button--non-active {
  animation: AnimOne__Two 0.3s ease;
  animation-fill-mode: forwards;
}
.Icon__Bar__Button__SVG__Path {
  fill: var(--font-color-1);
  transition: all 0.2s;
}
.Icon__Bar__Button--active .Icon__Bar__Button__SVG__Path {
  fill: var(--block-color-1);
}
.Icon__Bar__Button--non-active .Icon__Bar__Button__SVG__Path {
  fill: var(--font-color-1);
}
.Icon__Bar__Button--active:hover .Icon__Bar__Button__SVG__Path {
  fill: var(--block-color-5);
}
.Icon__Bar__Button--non-active:hover .Icon__Bar__Button__SVG__Path {
  fill: var(--block-color-brand-08);
}
@keyframes AnimOne__One {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.2;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes AnimOne__Two {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.2;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
