.ModalEditColumn {
}
.ModalEditColumn__Title {
}
.ModalEditColumn__Input {
}
.ModalEditColumn__Button {
}
.ModalEditColumn__Head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
