.ProjectColumnItemAdd {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}
.ProjectColumnItemAdd__Title {
  font-weight: var(--font-weight-3);
  font-size: var(--font-size-2);
  color: var(--font-color-2);
}
.ProjectColumnItemAdd__RightIcon {
  margin-left: auto;
}
