

.ProjectHeader .ProjectColumnItemAdd {
	justify-content: space-between;
	width: 128px;
}
.ProjectHeader .ProjectColumnItemAdd__RightIcon {
	display: none;
}
.ProjectHeader__Input {
	max-width: 240px;
}
@media (orientation: portrait) {
	.ProjectBarListItemEdit {
		position: absolute;
		right: 0;
	}
}
