.ProjectColumnItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
  background: #f4f4f4;
  margin: 5px 0px 5px 0px;
}
.ProjectColumnItem__Info {
  padding: 10px;
  width: 100%;
}
.ProjectColumnItem__Info__Status {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  opacity: 0.7;
}
.ProjectColumnItem__Info__Status__PriorityStatus {
  width: 40px;
  height: 8px;
  border-radius: 4px;
}
.ProjectColumnItem__Info__Status__CurrentStatus {
  width: 40px;
  height: 8px;
  border-radius: 4px;
}
.ProjectColumnItem__Info__Bar {
  display: flex;
  gap: 2px;
}
.ProjectColumnItem__Info__Bar__Comments {
  display: flex;
  gap: 1px;
  align-items: center;
}
.ProjectColumnItem__Info__Bar__Comments__Title {
  font-weight: var(--font-weight-5);
  font-size: var(--font-size-2);
  color: var(--font-color-2);
  opacity: 0.2;
}
.ProjectColumnItem__Info__Title {
  font-weight: var(--font-weight-3);
  font-size: var(--font-size-2);
  color: var(--font-color-2);
}
.ProjectColumnItem__Icon {
  margin-left: auto;
  opacity: 1;
  padding-right: 10px;
}
