.ProjectColumnItemAdd {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
	width: 100%;
	gap: 8px;
}
.ProjectColumnItemAdd__Title {
	color: var(--font-color-2);
	font-size: var(--font-size-2);
	font-weight: var(--font-weight-3);
}
.ProjectColumnItemAdd__RightIcon {
	margin-left: auto;
}
