.Project {
	display: flex;
	flex-direction: column;
	grid-row-start: 1;
	grid-row-end: auto;
	grid-column-start: 2;
	grid-column-end: 3;
	gap: 20px;
}
.Project__Title {
	color: var(--font-color-2);
	font-size: var(--font-size-3);
	font-weight: var(--font-weight-3);
}
.ProjectColumn {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	justify-content: flex-start;
	overflow-x: auto;
}
.ProjectColumn__Item {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin: 12px;
	border: 1px solid #d9d9d9;
	border-radius: 16px;
	background-color: var(--block-color-1);
	padding: 16px;
	width: 300px;
	min-width: 300px;
	gap: 10px;
}
.ProjectColumn__Item__Header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.ProjectColumn__Item__Header__Title {
	padding-left: 8px;
	color: var(--font-color-2);
	font-size: var(--font-size-3);
	font-weight: var(--font-weight-4);
}
.ProjectColumn__Item__Header__Icon {
	cursor: pointer;
}
.ProjectColumn__Item__List {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: flex-start;
	height: 100%;
	min-height: 1px;
	user-select: none;
}
@media (orientation: portrait) {
	.Project {
		height: 100%;
	}
	.ProjectColumn {
		height: 100%;
	}
	.ProjectColumn__Item {
		margin: 2dvw;
		margin-bottom: 12dvw;
		width: 88dvw;
		min-width: 88dvw;
	}
	.Project__Swiper {
	}
	.swiper-pagination-bullet-active {
		background: var(--block-color-brand) !important;
	}
}
