.Project {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Project__Title {
  font-weight: var(--font-weight-3);
  font-size: var(--font-size-3);
  color: var(--font-color-2);
}
.ProjectColumn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  overflow-x: auto;
}
.ProjectColumn__Item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
  width: 300px;
  min-width: 300px;
  border-radius: 16px;
  border: 1px solid #d9d9d9;
  margin: 12px;
  box-sizing: border-box;
  background-color: var(--block-color-1);
}
.ProjectColumn__Item__Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ProjectColumn__Item__Header__Title {
  font-weight: var(--font-weight-4);
  font-size: var(--font-size-3);
  color: var(--font-color-2);
  padding-left: 8px;
}
.ProjectColumn__Item__Header__Icon {
  cursor: pointer;
}
.ProjectColumn__Item__List {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  user-select: none;
  min-height: 1px;
  height: 100%;
}
@media (orientation: portrait) {
  .Project {
    height: 100%;
  }
  .ProjectColumn{
    height: 100%;
  }
  .ProjectColumn__Item {
    width: 88dvw;
    min-width: 88dvw;
    margin: 2dvw;
    margin-bottom: 12dvw;
  }
  .Project__Swiper {
  }
}
