.ProjectColumnItem {
	display: flex;
	align-items: center;
	margin: 5px 0px 5px 0px;
	border-radius: 8px;
	background: #f4f4f4;
	cursor: pointer;
	gap: 6px;
}
.ProjectColumnItem__Info {
	padding: 10px;
	width: 100%;
}
.ProjectColumnItem__Info__Status {
	display: flex;
	flex-direction: row;
	align-items: center;
	opacity: 0.7;
	gap: 6px;
}
.ProjectColumnItem__Info__Status__PriorityStatus {
	border-radius: 4px;
	width: 40px;
	height: 8px;
}
.ProjectColumnItem__Info__Status__CurrentStatus {
	border-radius: 4px;
	width: 40px;
	height: 8px;
}
.ProjectColumnItem__Info__Bar {
	display: flex;
	gap: 2px;
}
.ProjectColumnItem__Info__Bar__Comments {
	display: flex;
	align-items: center;
	gap: 1px;
}
.ProjectColumnItem__Info__Bar__Comments__Title {
	opacity: 0.2;
	color: var(--font-color-2);
	font-size: var(--font-size-2);
	font-weight: var(--font-weight-5);
}
.ProjectColumnItem__Info__Title {
	color: var(--font-color-2);
	font-size: var(--font-size-2);
	font-weight: var(--font-weight-3);
}
.ProjectColumnItem__Icon {
	opacity: 1;
	margin-left: auto;
	padding-right: 10px;
}
