.ProjectListItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  height: 100px;
  width: 200px;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 16px;
  border: 1px solid #d9d9d9;
  background: #f5f5f5;
  text-decoration: none;
}
.ProjectListItemZero {
  justify-content: center;
  align-items: center;
}
.ProjectListItem-entering,
.ProjectListItem-exiting,
.ProjectListItem-exited {
  opacity: 0.5;
  transform: scale(0.9);
}

.ProjectListItem-entered {
  opacity: 1;
  transform: scale(1);
}
.ProjectListItem--active {
}
.ProjectListItem--active .ProjectListItem__Title {
  color: var(--font-color-white);
  background: var(--block-color-active);
}
.ProjectListItemZero .ProjectListItem__Title {
  background: transparent;
  cursor: pointer;
  font-weight: var(--font-weight-3);
  color: var(--font-color-3);
}
.ProjectListItem__Title {
  font-weight: var(--font-weight-5);
  font-size: var(--font-size-2);
  color: var(--font-color-2);
  display: inline-flex;
  padding: 4px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #fff;
}
.ProjectListItem__Quantity {
  font-weight: var(--font-weight-3);
  font-size: var(--font-size-1);
  color: var(--font-color-2);
}
.ProjectListItem__Go {
}
